*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
nav{
    width: 100%;
    height: 50px;
    /* border: 1px solid black; */
    font-family: serif;
    text-align: center;
    padding: 5px;
    letter-spacing: 0.1rem;
    background-color: hsl(30, 14%, 89%);
    text-decoration: none;
}
.nav-2{
    text-align: center;
    width: 100%;
    height: 30px;
    font-family: serif;
    letter-spacing: 0.1rem;
}
.nav-3{
    width: 100%;
    height: 550px;
    background-color: #f7f6f4;
}
.search{
    position: relative;
    top: 200px;
    left: 100px;
}
.user{
    position: relative;
   top: 200px;
   letter-spacing: 2.8rem;
}
@media (max-width:800px) {

   .search,
   .user{
    display: none;
   }

}
.imgtag{
    background-color: #f6f2ec;

    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.imgtag img{
    padding: 30px;
    width: 100%;
    height: 480px;
    /* border: 1px solid black; */
}
.imgtag li{
    font-family: serif;
}
.sticky{
    position: relative;
    position: fixed;
    z-index: 1px;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.2rem;
    width: 11%;
    height: 40px;
    left: 40px;
    top: 200px;
    text-align: center;
    padding: 10px;
    background-color: rgb(15, 15, 15); 
    color: #e7e1e1;
}
@media(max-width:800px){
    .sticky{
        width: 40%;
    }
}
.para-1{
    padding: 50px;
    font-family: serif;
    letter-spacing: 0.1rem;
    text-align: center;
}
.para-2{
    padding: 50px;
    font-family: serif;
    letter-spacing: 0.1rem;
    text-align: center;
}
.gird{
    background-color: #f6f2ec;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.gird li{
    text-align: center;
    font-family: serif;

}
.head{
    padding: 50px;
    font-family: serif;
    text-align: center;
}
.gird-2{
    background-color: #f6f2ec;
     display: grid;
     grid-template-columns: repeat(4,1fr);
}
.gird-2 li{
    text-align: center;
    font-family: serif;
}
.gird-3{
    background-color: #f6f2ec;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.gird-3 li{
    text-align: center;
    font-family: serif;
}
@media (max-width:800px) {

    .gird-3{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width:800px) {

    .gird-2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width:800px) {

    .gird{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
.twoimg{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 50px;
    gap: 1rem;
    width: 100%;
    height: 1250px;
    background-color: #f6f2ec;
}
 .twoimg li{
    font-family: serif;
    letter-spacing: 0.1rem;
    margin: 10px;
 }
 @media (max-width:800px){
    .twoimg{
        padding: 0px;
        margin: 0px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    
 }
 @media (max-width:800px){
    .threeimg{
        margin-top: 10px;
        width: 50%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .threeimg li{
        display: none;
    }
 }
 .threeimg{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #f8f3ec;

 }
 .threeimg li{
    position: relative;
    top: 200px;
    font-family: serif;
    letter-spacing: 0.2rem;
 }
  .contact{
    font-family: serif;
    height: 400px;
    align-items: center;
    text-align: center;
    
 }
 .contact p{
    margin: 10px;
    font-family: serif;
    letter-spacing: 0.1rem;
    padding: 5px;
 }
 #contact-2{
     align-items: end;
     letter-spacing: 2.5rem;
 }
  #input-3{
    width: 60%;
    height: 50px;
    border-radius: 15px;
  }
  .contact-3{
    font-family: serif;
    font-size: 0.4rem;
  }  